<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action = "../StudentRegistration">
  ID <input type="text" name = "StuId"><br>
  First Name <input type="text" name = "StuFirstName"><br>
  Last Name <input type="text" name = "StuLastName"><br>
  Password <input type = "password" name  ="StuPassword"><br>
  email <input type="email" name = "StuEmail"><br>
  Mobile No. <input type="text" name = "StuMobile"><br>
  <input type = "submit" value="Register Student"><br>
</form>
</body>
</html>