<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form action = "../TeacherRegistration">
  ID <input type="number" name = "TeaId"><br>
  First Name <input type="text" name = "TeaFirstName"><br>
  Last Name <input type="text" name = "TeaLastName"><br>
  Password <input type = "password" name  ="TeaPassword"><br>
  email <input type="email" name = "TeaEmail"><br>
  Mobile No. <input type="text" name = "TeaMobile"><br>
  Profile Picture <input type="file" accept="image/png, image/jpeg" name = "profilePicture"><br>
  <input type = "submit" value="Register Student"><br>
</form>
</body>
</html>