<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context = "http://www.springframework.org/schema/context"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

<context:annotation-config/>

    <bean class ="ParticipantsBean" id="p1">
        <property name="name" value="Dharmesh"></property>
        <property name="address" value="Ahmedabad"></property>

    </bean>

<bean class="DID" id ="did">
<property name="seasonName" value = "Season2">
</property>
<property name="brandPartners">
    <list>
        <value>Bonvita</value>
        <value>TVS</value>
        <value>Byju</value>
    </list>
</property>
    <property name="participants">
        <map>
            <entry key-ref="p1" value="teamRemo"></entry>

        </map>
    </property>
</bean>
</beans>